html {
    margin: 0;
    padding: 0;
}
body, h1, h2, h3, h4, h5, h6, div, p, address, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, hr {
    margin: 0;
    padding: 0;
}

header {
    background:#039be5;
    min-width: 980px;
    width: 100%;
    height: 174px;
}

.wrap {
    width: 980px;
    margin:0px auto;
    position: relative;
}
.left-gbn{
    padding-top:25px;
}

.right-search{
    width:608px;
    top:25px;
    right:0px;
    position: absolute;
}

.right-search-box{
    height: 50px;
    width: 660px;
    background: transparent;
    font-size:30px;
    
    background-image:url(./search.png);
    background-repeat: no-repeat;
    background-size: 37px;
    background-position: 620px;
    border-width: 0px;
    border-bottom: 2px solid #29b6f6;
    color:white;
    text-align: center;
}
.right-search-box :focus{
    outline: none !important;
    border-bottom: 2px solid #29b6f6;
}

.right-gbn{

    width:608px;
    top:93px;
    right:0px;
    position: absolute;
}

.right-gbn > ul {
    list-style: none;
    padding-left:0px;
}
.right-gbn > ul > li{
    float:left;
    padding-left:28px;
    padding-right:28px;
    font-size:14px;
    color:#81d4fa;
    padding-top:38px;
    padding-bottom:24px;
}

.right-gbn > ul > li:hover{
    border-bottom: 2px solid #FFFF00;
    color:white;
    cursor:pointer;
}

.right-gbn .selected {
    border-bottom: 2px solid #FFFF00;
    color:white;
}

.container{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.item-container{
    float:left;
    width:300px;
    height: 425px;
    border-radius: 2px;
    margin-left: 5px;
    margin-top:30px;
}
.item-header{
    width:300px;
    height: 200px;
}
.item-body{
    width:300px;
    height: 225px;  
    background-color: #3949ab;
}

.item-btn-wrap{
    width: 100%;
    text-align: center;
}
.item-btn{
    width: 240px;
      height: 31px;
      border-radius: 2px;
      box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
      background-color: #7986cb;
      cursor: pointer;
      margin:10px auto;
}

.item-title{
    padding:10px;
    border-bottom: 1px solid #8888ab;
    text-align: left;
    color: #f2f2f2;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    height: 3.0em;


}
.item-content{
    padding:5px;
    border-bottom: 1px solid  #8888ab;
    color: #f2f2f2;
    font-size: 12px;
    line-height: 1.2;
    height:3.0em;
}
.item-content-detail{
    display: inline-block;
    width: 300px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    height: 7.5em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    padding: 7px;
    

}